li {
    display: inline;
}

input {
    width: 55%;
}

#about, #store {
    float: left;
}

#gmail, #images, #signin {
    float: right;
}

#circle {
    width: 4px;
    height: 4px;
    background: grey;
    border-radius: 50%;
}

#logo img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 5%;
}

#logo-image {
    max-width: 250px;
    max-height: auto;
}